In [ ]:
def is_even(a=10):
  if a % 2 == 0:
    return True
  else:
    return False

In [ ]:
is_even()

True

In [ ]:
is_even(7)

False

In [ ]:
x = 101
is_even(x)

False

In [ ]:
import numpy as np 
import pandas as pd 
from numpy import random

a = np.array([1, 1, 2, 3, 4])
a

array([1, 1, 2, 3, 4])

In [ ]:
import numpy
a = numpy.array([1, 1, 2, 3, 4])
a

array([1, 1, 2, 3, 4])

In [ ]:
# colab vs editor 
# tuple
# set
# dict
# json
# csv 
# class

In [ ]:
l1 = [1, 2, 3, 4, "a", "b", [1, 2, 3, 4, 5]]
l1[0]

1

In [ ]:
l1[0] = "value"
l1

['value', 2, 3, 4, 'a', 'b', [1, 2, 3, 4, 5]]

In [ ]:
l1.remove(2)
l1

['value', 3, 4, 'a', 'b', [1, 2, 3, 4, 5]]

In [ ]:
l1.append(2)
l1

['value', 3, 4, 'a', 'b', [1, 2, 3, 4, 5], 2]

In [ ]:
t1 = ([1, 2], 1, 2, 3, 4, 5, 10, "a", [1, 2], (10, 1))
t1[0][1] = "new value"
t1

([1, 'new value'], 1, 2, 3, 4, 5, 10, 'a', [1, 2], (10, 1))

In [ ]:
l2 = l1 
l2[0] = "second change"
l1, l2

(['second change', 3, 4, 'a', 'b', [1, 2, 3, 4, 5], 2],
 ['second change', 3, 4, 'a', 'b', [1, 2, 3, 4, 5], 2])

In [ ]:
l1 = [1, 2, 3]
def create_new_list_with_5(l):
  l1 = list(l)
  l1.append(5)
  return l1

l2 = create_new_list_with_5(l1)
l1, l2

([1, 2, 3], [1, 2, 3, 5])

In [ ]:
l1 = [1, 2, 2, 2, 2, 1, 1, 1, 1, 2]
s1 = set(l1)
s1

{1, 2}

In [ ]:
user = {
    "name": {
        "first_name": "L",
        "last_name": "T"
    },
    "address": {
        "street": "s1",
        "number": 10,
        "city": "B",
        "postcode": "23333",
    },
    "transactions": []
}

u = [["L", "T"], ["s1", 10, "B", "23333"], []]
user["address"]["postcode"]

'23333'

In [ ]:
from enum import Enum 
class Gender(Enum):
  MALE = 0, 
  FEMALE = 1

d = {
    Gender.MALE: [],
    Gender.FEMALE: []
}
d[Gender.MALE]

[]

In [ ]:
user["name"]["first_name"] = "C"
user["budget"] = 10
user

{'name': {'first_name': 'C', 'last_name': 'T'},
 'address': {'street': 's1', 'number': 10, 'city': 'B', 'postcode': '23333'},
 'transactions': [],
 'budget': 10}

In [ ]:
import json

with open("D:\\sample.json", "w") as f:
  json.dump(user, f)

In [ ]:
with open("D:\\sample.json", "r") as f:
  data = json.load(f)
data

{'name': {'first_name': 'C', 'last_name': 'T'},
 'address': {'street': 's1', 'number': 10, 'city': 'B', 'postcode': '23333'},
 'transactions': [],
 'budget': 10}

In [ ]:
def validate_transaction(user): 
  is_valid = False
  if len(user["transactions"]) > 0:
    is_valid = True
  return is_valid

def sum_transactions(user):
  s = 0 
  for t in user["transactions"]:
    s = s + t
  return s

is_transaction_valid = validate_transaction(user)
transaction_amount = sum_transactions(user)

In [ ]:
class Name:
  def __init__(self, first_name, last_name):
    self.first_name = first_name
    self.last_name = last_name 
  
  def validate(self):
    if self.first_name == "":
      return False
    
    if self.last_name == "":
      return False

In [ ]:
new_name = Name("L", "R")

In [ ]:
new_name.first_name

'L'

In [ ]:
new_name.first_name = "Y"
new_name.first_name

'Y'

In [ ]:
n = Name("", "")
n.validate()

False